In [ ]:
#que 1 dataset and its attribute

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('road.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STATE/UT           490 non-null    object
 1   YEAR               490 non-null    int64
 2   0-3 hrs. (Night)   490 non-null    int64
 3   3-6 hrs. (Night)   490 non-null    int64
 4   6-9 hrs (Day)      490 non-null    int64
 5   9-12 hrs (Day)     490 non-null    int64
 6   12-15 hrs (Day)    490 non-null    int64
 7   15-18 hrs (Day)    490 non-null    int64
 8   18-21 hrs (Night)  490 non-null    int64
 9   21-24 hrs (Night)  490 non-null    int64
 10  Total              490 non-null    int64
dtypes: int64(10), object(1)
memory usage: 42.2+ KB

In [ ]:
#que 2:

In [4]:
from pandas import DataFrame
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [5]:
# Creating a random dataset of 30 elements with 
# x and y variables using random function
# between 20 to 60 integers for x and 50 to 90 integers for y
import random
import numpy
x_col=random.sample(range(30, 80), 30)
print("X:",x_col)
y_col=random.sample(range(60, 100), 30)
print("Y:",y_col)
values={'X':x_col,'Y':y_col}
dt= DataFrame(values)
dt.head()

X: [33, 78, 77, 47, 52, 53, 45, 31, 63, 62, 30, 44, 73, 69, 49, 34, 40, 70, 38, 36, 54, 72, 64, 75, 71, 61, 68, 79, 48, 65]
Y: [94, 97, 73, 64, 62, 70, 99, 67, 63, 81, 68, 92, 78, 87, 75, 98, 82, 74, 95, 61, 72, 86, 91, 66, 84, 88, 79, 71, 60, 80]

    X   Y
0  33  94
1  78  97
2  77  73
3  47  64
4  52  62

In [9]:
#Dividing the dataset into two clusters
kmeans = KMeans(n_clusters=2).fit(dt)

In [ ]:
#visualising the clusters using tkinter GUI
import tkinter as tk
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
root= tk.Tk()
canvas1 = tk.Canvas(root, width = 100, height = 100)
canvas1.pack()
label1 = tk.Label(root, text=centroids, justify = 'center')
canvas1.create_window(10, 90, window=label1)
figure1 = plt.Figure(figsize=(5,4), dpi=100)
ax1 = figure1.add_subplot(111)
ax1.scatter(dt['X'], dt['Y'], c= kmeans.labels_.astype(float), s=50, alpha=0.5)
ax1.scatter(centroids[:, 0], centroids[:, 1], c='red', s=50)
scatter1 = FigureCanvasTkAgg(figure1, root) 
scatter1.get_tk_widget().pack(side=tk.LEFT, fill=tk.BOTH)

root.mainloop()